body {
  font-family: Chakra Petch, Arial;
  background-color: rgba(1,71,0,255);
  color: white;
  height: 6000px;
}

li {
  font-size: 30px;
}

a {
  color: white;
}

.dashboard-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  top: 150px;
  left: 450px;
}

.circle {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: rgba(73,162,0,255);
}